span.label {
  padding: 1px 5px;
  border-radius: 5px;
}

.MuiPaper-root.parse-input {
  padding: 20px 15px;
  margin: 10px 0px;
}

span.transform {
  background-color: rgb(254, 243, 161);
}
span.featureName {
  background-color: deepskyblue;
}
span.constant {
  background-color: lightseagreen;
}
